marker#arrowhead {
  fill: green;
}

.node circle {
  stroke: #fff;
  stroke-width: 0.1px;
  fill: cadetblue;
}

.node text {
  fill: #666;
  font-family: Helvetica
}

svg {
  border: 5px solid black;
}

