.unselectable {
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.approved circle {
  fill: red;
}

.approved text {
  fill: white;
}

path.links  {
  stroke: green;
}

path.links.approved {
  stroke: red;
}

.tip circle {
  fill: lightgray;
}

.tip text {
  fill: black;
}
